.idea/
data/
!data/git_data/*
trash/
dev/
res/
software/
samples/
demos/
log/
logs/
static/
migrations/

*.ck

*.pyc
*.csv
*.txt
*.log
*.html
*.xml
*.json

*.tar.gz
*.zip
*.gz
*.sqlite

*.bmp
*.jpg
*.png
*.gif
*.jpeg

*.doc
*.docx
*.xls
*.xlsx


*.class
*.jar
*.pdf